@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Piazzolla', serif;
}

header {
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
}

.brand {
    color:#ebbc55;
    letter-spacing: 4px;
    margin-left: 40px;
    position: absolute;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 250px;
    margin: auto;
}

li a {
    text-decoration: none;
    color:#ebbc55;
}

li a:hover {
    color: #886314;
}

.container-cart {
    border: 1px solid #ebbc55;
    width: 40px;
    height: 40px;
    display: flex;
    margin: 80px;
    border-radius: 2px;
}

.container-cart:hover {
    background-color: #886314;
}

.cart {
    color: #ebbc55;
    display: flex;
    margin: auto;
}

